[submodule "playwright"]
	path = thridparty/playwright
	url = https://github.com/jt-jiangtao/playwright.git
[submodule "electron"]
	path = thridparty/electron
	url = https://github.com/jt-jiangtao/electron.git
