solutions = [
  {
    "name": "src/electron",
    "url": "https://github.com/jt-jiangtao/electron.git",
    "deps_file": "DEPS",
    "managed": False,
    "custom_deps": {
      "src": "https://github.com/chromium/chromium.git@{{chromiumCommit}}",
    },
    "custom_vars": {},
  },
]
